{% extends 'cbolsa/layout/base.html' %}
{% block content %}
<h2>Mi Portafolio</h2>

<table>
    <tr>
        <th>Acción</th>
        <th>Precio Actual</th>
        <th>Tasa Cambio</th>
        <th>Valor Total</th>
        <th>Acciones</th>
    </tr>

    {% for item in portafolio %}
    <tr>
        <td>{{ item.accion.nombre_empresa }} ({{ item.accion.simbolo }})</td>
        <td>{{ item.accion.precio_actual }} USD</td>
        <td>{{ item.accion.cambio_porcentual }}%</td>
        <td>{{ item.valor_total|floatformat:2 }} USD</td>
        <td>
            {% if item.cantidad > 0 %}
                <form action="{% url 'venta_accion' item.accion.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Vender</button>
                </form>
                <form action="{% url 'comprar_accion' item.accion.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Comprar</button>
                </form>
            {% endif %}
            {% if  item.cantidad == 0 %}
                <form action="{% url 'comprar_accion' item.accion.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Comprar</button>
                </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
